<div class="dialog-container" style="margin: 0 1em;">

    <div class="dialog-header" style="padding-top: 0.5em;">
        Bitte geben Sie ihren Namen und Passwort ein 
    </div>
    
    <div class="dialog-content">

                <label for="nameInput">name</label>
                <input [(ngModel)]="nameInput">
            
                <label for="pwInput">passwort</label>
                <input [(ngModel)]="pwInput">
    </div>
    
    <div class="dialog-footer" style="padding: 0.5em 0;">
        <span class="flex-1-0-0"></span>
        <button (click)="checkPw()">Login</button>
    </div>
</div>