<div class="full-page f-ai-c">
      <div class="flex-column w-100 h-100">
            <div class="flex-row ">
                <div *ngFor="let weekDay of ['Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag','Sonntag']" class="flex-1-0-0">
                    {{weekDay}}
                </div>
            </div>

            <div class="flex-row">
                <div *ngFor="let row of [1,2,3,4,5]" class="flex-column">
                    test
                </div>
            </div>
    </div>
</div>
