<div>
    Die Zauberstein GmbH
</div>

<div>
    Großendorfer Straße 60a
</div>

<div>
    25355 Barmstedt
</div>

<div>
    Deutschland
</div>


<div>
    Tel.: 04121-2761617
</div>

<div>
    E-Mail: info@zaubersteinshop.de
</div>


<div>
    Registergericht: Amtsgericht Pinneberg
</div>

<div>
    Registernummer: HRB 16568
</div>


<div>
    Geschäftsführer: Benjamin Jachert
</div>


<div>
    Umsatzsteuer-Identifikationsnummer: DE350881869
</div>


<div>
    Plattform der EU-Kommission zur Online-Streitbeilegung: https://ec.europa.eu/odr
</div>


<div>
    Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.
</div>


<div>
    Verantwortliche/r i.S.d. § 18 Abs. 2 MStV:
</div>

<div>
    Benjamin Jachert, Großendorfer Straße 60a, 25355 Barmstedt
</div>